<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav d-flex flex-wrap">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="binding">binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ajax">ajax</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="input">input</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="input2">input2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="output">output</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signal1">signal1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="class1">class1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="class2">class2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="class3">class3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="class4">class4</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="class5">class5</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="style1">style1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="style2">style2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="style3">style3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="style4">style4</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="style5">style5</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="pipes">pipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Custompipes">Custompipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="boucles">boucles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="for">for</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="if">if</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="switch">switch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ngContentChild">ngContent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="viewChild1">viewChild1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="viewChild2">viewChild2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="viewChildren1">viewChildren1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="viewChildren2">viewChildren2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contentChild1">contentChild1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contentChild2">contentChild2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="interval">interval</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
